.container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
    ". image1 ."
    ". image2 ."
    ". image3 ."
    ". image4 ."
    ;
}

.hero-img{
    display: flex;
    margin: 0px;
}

.thumbs1{
    grid-area:image1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    
}
.thumbs2{
    grid-area:image2 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}
.thumbs3{
    grid-area:image3 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}
.thumbs4{
    grid-area:image4 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}
button{
    height: 50px;
    width: 120px;
    align-items: center;
    margin-top: 70px;
    background-color: orange;
}
.nav-bar-main-container{
    height: 80px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   background-color: black;
   margin: 0px;
}
.central-nav-button-container{
    margin-bottom: 70px;
}

.nav-logo{
    padding: 10px;
}

.central-nav-button{
    border: none;
    background-color: black;
    padding: 15px;
    color: white;
}
.nav-logo-container{
    color: white;
}
.central-nav-button:hover{
    border: 1px solid rgb(170, 168, 168);
    color: white;
    border-radius: 10px;
}

.footer{
    background-color: black;

}

.chicago{
    height: 300px;
}








@media screen and (max-width: 11000px){

}